/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




body {
		margin: 0;
		background: url(../img/intro-bg.jpg)no-repeat center;
		background-size: cover;
		font-family: 'Open Sans';
		max-height: 769px;
}



h1,h2,h3,h4,h5,h6 {
		margin: 0;
}



p {
		margin: 0 0 10px;
}




*,*:before, *:after {
		box-sizing: border-box;
}





.header {
		padding-top: 41px;
		margin: 0 auto;
		max-width: 1438px;
		width: 100%;
}





.header_work {
     margin-bottom: 310px;
}




.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}





.header_title {
     text-align: center;
}




.header_title-lait {
    cursor: pointer;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    font-family: 'Bebas Neue';
}





.header_text {
		text-align: center;
		margin-bottom: 221px;
}




.header_text-lait {
    line-height: normal;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}




.header_text-lait:last-child {
     margin: 0;
}




.header_text-row {
     text-decoration: none;
}




.header_subtext {
     text-align: center;
     margin-bottom: 71px;
}




.header_subtext-lait {
     cursor: pointer;
     font-size: 11px;
     line-height: normal;
     color: #FFFFFF;
     letter-spacing: 3.7px;
     font-weight: 600;
     font-style: normal;
}




.header_subtext-lait:last-child {
    margin: 0;
}




.navbar {
    background: #fff;
    margin-bottom: 57px;
}




.navbar_inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #E6E6E6;
    padding: 25px 0;
}




.nav {
    display: flex;
}




.nav_link {
    margin-right: 42px;
    letter-spacing: 1.09091px;
    color: #48555B;
    line-height: normal;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}




.nav_link:last-child {
     margin-right: 0;
}





.nav_link.active {
    color: #00A4E5;
    font-weight: 700;
}




.nav_link.active:hover {
    opacity: 0.50;
}




.nav_link:hover {
    color: #00A4E5;
    transition: .1s linear;
}




.section {
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    max-width: 941px;		
}





.about {
	text-align: center;
	margin-bottom: 92px;
}





.about:after {
		content: '';
		display: block;
		width: 50px;
		height: 2px;
		background-color: #00A4E5;
		margin: 0 auto;
}




.about_title {
		margin-bottom: 10px;
		color: #48555B;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 2.306px;
		line-height: normal;
		font-style: normal;
}





.about_item {	  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}






.about_subtitle {
    max-width: 405px;
}





.about_subtitle-row {
    margin-bottom: 30px;
    color: #48555B;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.188px;
    line-height: normal;
    font-style: normal;
}





span.colorit {
    color: #00A4E5;
    transition: .1s linear;
}






span.colorit:hover {
    opacity: 0.50;
}





.about_text {
   max-width: 405px;
}





.about_text-row {
    letter-spacing: 0.188px;
    color: #48555B;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
}





.about_cart {
		position: relative;
		margin: 25px 0 120px;
}





.about_cart.profi {		
		padding-left: 50px;
}




.about_cart:hover .about_img {
	  transform: translate3d(-5px, -5px, 0);
}





.about_img {
    margin-left: 20px;   	
		display: block;	
		max-width: 100%;
		height: auto;
		transition: transform .2s linear;	
}






.about_img:hover {
    opacity: 0.50;
    transition: .1s linear;
}





.about_name {
    position: absolute;
    display: block;
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.188px;
    top: 18px;		
    z-index: 2;		
    padding-left: 35px;
}






.about_name:hover {
		opacity: 0.50;
		transition: .2s linear;
}




