/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v35-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




body {
    margin: 0;
    background: url(../img/intro-bg.jpg)no-repeat center;
    background-size:cover;
    font-family: 'Open Sans';
    height: 769px;
}



h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


p {
    margin: 0 0 10px;
}



*,*:before, *:after {
    box-sizing: border-box;
}





.wrapper {
     padding-top: 40px;
     margin: 0 auto;
     max-width: 1440px;
     width: 100%;
}





.wrapper_top {
     margin-bottom: 318px;
}




.wrapper_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}




.wrapper_title {
     text-align: center;
}




.wrapper_title-lait {
    font-family: 'Bebas Neue';
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    font-weight: 400;
    cursor: pointer;
}





.wrapper_text{
     text-align: center;
     margin-bottom: 210px;
}




.wrapper_text-lait{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}



.wrapper_text-lait:last-child{
     margin: 0;
}




.wrapper_text-row{
     text-decoration: none;
}




.wrapper_scrool{
     text-align: center;
     margin-bottom: 70px;
}




.wrapper_scrool-lait{
     cursor: pointer;
     font-size: 11px;
     line-height: 13px;
     color: #FFFFFF;
     letter-spacing: 3.7px;
}



.wrapper_scrool-lait:last-child{
    margin: 0;
}




.header {
    background: #fff;
}




.header_inner {
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #E6E6E6;
}




.nav {
    display: flex;
}




.nav_link {
    margin-right: 30px;
    letter-spacing: 1.09091px;
    color: #48555B;
    line-height: 14px;
    font-size: 12px;
    text-decoration: none;
}




.nav_link:last-child{
     margin-right: 0;
}





.nav_link.active{
    color: #00A4E5;
}




.nav_link.active:hover {
    opacity: 0.50;
}




.nav_link:hover{
     color: #00A4E5;
     transition: .1s linear;
}
