/* open-sans-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* open-sans-700 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/open-sans-v35-latin-700.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




/* bebas-neue-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/bebas-neue-v10-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




body {
	background: url(../img/intro-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Open Sans';
	margin: 0;
	height: 769px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}



p {
	margin: 0 0 10px;
}



ul,
li {
	list-style: none;
}




a {
	text-decoration: none;
	color: inherit;
}




*,
*:before,
*:after {
	box-sizing: border-box;
}





.header {
	padding-top: 41px;
	margin: 0 auto;
	max-width: 1438px;
	width: 100%;
}





.header_work {
	margin-bottom: 300px;
}




.header_logo {
	display: flex;
	justify-content: center;
	align-items: center;
}





.header_title {
	text-align: center;
}




.header_title-lait {
	cursor: pointer;
	font-size: 60px;
	line-height: normal;
	letter-spacing: 5.70937px;
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
	font-family: 'Bebas Neue';
}





.header_text {
	text-align: center;
	margin-bottom: 214px;
}




.header_text-lait {
	line-height: normal;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
}




.header_text-lait:last-child {
	margin: 0;
}




.header_text-row {
	text-decoration: none;
}




.header_subtext {
	text-align: center;
	padding-bottom: 71px;
}




.header_subtext-lait {
	cursor: pointer;
	font-size: 11px;
	line-height: normal;
	color: #FFFFFF;
	letter-spacing: 3.7px;
	font-weight: 600;
	font-style: normal;
}




.header_subtext-lait:last-child {
	margin: 0;
}




.navbar {
	background: #fff;
	padding-bottom: 57px;
}




.navbar_inner {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid #E6E6E6;
	padding: 25px 0;
}




.nav {
	display: flex;
}




.nav_link {
	margin-right: 42px;
	letter-spacing: 1.09091px;
	color: #48555B;
	line-height: normal;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
}




.nav_link:last-child {
	margin-right: 0;
}





.nav_link.active {
	color: #00A4E5;
	font-weight: 700;
}




.nav_link.active:hover {
	opacity: 0.50;
}




.nav_link:hover {
	color: #00A4E5;
	transition: .1s linear;
}




.section {
	margin: 0 auto;
	cursor: pointer;
	width: 100%;
	max-width: 941px;
}





.about {
	text-align: center;
	margin-bottom: 92px;
}





.about:after {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #00A4E5;
	margin: 0 auto;
}




.about_title {
	margin-bottom: 10px;
	color: #48555B;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2.306px;
	line-height: normal;
	font-style: normal;
}





.about_item {
	padding-bottom: 118px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}






.about_subtitle {
	max-width: 405px;
}





.about_subtitle-row {
	margin-bottom: 30px;
	color: #48555B;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.188px;
	line-height: normal;
	font-style: normal;
}





span.colorit {
	color: #00A4E5;
	transition: .1s linear;
}






span.colorit:hover {
	opacity: 0.50;
}





.about_text {
	max-width: 405px;
}





.about_text-row {
	letter-spacing: 0.188px;
	color: #48555B;
	font-size: 13px;
	line-height: 23px;
	font-weight: 400;
	font-style: normal;
}





.about_cart {
	position: relative;
}





.about_cart.profi {
	margin-left: 68px;
}




/* .about_cart:hover .about_img {
	transform: translate3d(5px, 5px, 0);
} */





.about_img {
	margin-left: 23px;
	display: block;
	max-width: 100%;
	height: auto;
	transition: .2s linear;
}



.about_cart.profi .about_img:first-child {
	margin-left: 0;
}




.about_cart.profi .about_name {
	position: absolute;
	left: 15px;
}





.about_img:hover {
	opacity: 0.50;
	transition: .1s linear;
}





.about_name {
	position: absolute;
	display: block;
	color: #FFF;
	font-size: 24px;
	font-weight: 800;
	line-height: 29px;
	letter-spacing: 0.188px;
	top: 15px;
	z-index: 1;
	left: 36px;
}





.about_name:hover {
	opacity: 0.50;
	transition: .2s linear;
}




.service {
	max-width: 941px;
	width: 100%;
	margin: 0 auto;
}




.service_item {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	cursor: pointer;
	padding-bottom: 118px;
}



.service_title {
	margin-right: 150px;
	color: #48555B;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.306px;
}




.service_title::before {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	position: absolute;
	top: 34px;
	background-color: #00A4E5;
}





.service_text {
	margin-right: 39px;
	width: 405px;
	color: #48555B;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.2px;
}





.service_btn {
	padding: 11px 29px;
	line-height: 20px;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	color: #FFF;
	background: #00A4E5;
	transition: .1s linear;
}




.service_btn:hover {
	background: midnightblue;
}




.service_block {
	display: flex;
	justify-content: space-between;
	padding: 0 20px 154px;
}




.service_icon {
	cursor: pointer;
}





.service_img {
	margin-bottom: 25px;
}




.service_subtitle {
	margin-bottom: 13px;
	width: 250px;
	color: #48555B;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.427px;
}



.service_subtext {
	width: 250px;
	color: #48555B;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.188px;
}